@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


//цвета

$main: #ffca00;
$hover: #FEA900;
$seondarcy1: #F3002C;
$secondary2: #198CFF;
$text-black-500: #121212;
$text-black-300: #474747;
$bg-gray: #F8F8F8;
$bg-black: #292929;
$main-bg: #151515;
$white: #ffff;

//шрифты

$font-family: "Lato", sans-serif;
$second-family: "Fira Sans", sans-serif;
$third-family: "Onest", sans-serif;
$font3: "Manrope", sans-serif;
$font4: "Roboto", sans-serif;
$font5: "Intro ", sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: $font-family;
}

button {
    cursor: pointer;
}

.closeAllPopups {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: .4;
    z-index: 11;
    transform: translateY(-100%);
    transition: all .4s ease;
    &.active {
        transform: translateY(0);
    }
}

body, html {
    max-width: 100vw;
    overflow-x: hidden;
    &.noScroll {
        overflow: hidden;
    }
}

.paterns {
    margin-top: 100vh;
}

.Text_14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: $main-bg;
}
.Text_16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: $main-bg;
}
.Text_18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    color: $main-bg;
}
.Text_20 {
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: $main-bg;
}
.Text_24 {
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    color: $main-bg;
}
.Big_Text {
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
    color: $main-bg;
    @media(max-width: 1279px) {
        font-weight: 500;
        font-size: 24px;
        line-height: 135%;
        color: $main-bg;
    }
    @media(max-width: 640px) {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: $main-bg;
    }
}
.h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $main-bg;
    @media(max-width: 1279px) {
        font-weight: 700;
        font-size: 28px;
        line-height: 115%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $main-bg;
    }
    @media(max-width: 640px) {
        font-weight: 700;
        font-size: 22px;
        line-height: 125%;
        text-transform: uppercase;
        color: $main-bg;
    }
}
.h2 {
    font-weight: 700;
    font-size: 52px;
    line-height: 115%;
    color: $main-bg;
    @media(max-width: 1279px) {
        font-weight: 700;
        font-size: 52px;
        line-height: 115%;
        color: $main-bg;
    }
    @media(max-width: 640px) {
        font-weight: 700;
        font-size: 26px;
        line-height: 115%;
        color: $main-bg;
    }
}
.h1 {
    font-weight: 700;
    font-size: 84px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-bg;
    @media(max-width: 1279px) {
        font-weight: 700;
        font-size: 64px;
        line-height: 120%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-bg;
    }
    @media(max-width: 640px) {
        font-weight: 700;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $main-bg;
    }
}
.Text_14_tablet {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: $main-bg;
}
.Text_16_tablet {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: $main-bg;
}
.Text_18_tablet {
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    color: $main-bg;
}
.Text_20_tablet {
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: $main-bg;
}
.Text_24_tablet {
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    color: $main-bg;
}
.Big_Text_tablet {
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
    color: $main-bg;
}
.h3_tablet {
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $main-bg;
}
.h2_tablet {
    font-weight: 700;
    font-size: 52px;
    line-height: 115%;
    color: $main-bg;
}
.h1_tablet {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-bg;
}
.Text_10_mobile {
    font-weight: 400;
    font-size: 10px;
    line-height: 125%;
    color: $main-bg;
}
.Text_14_mobile {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: $main-bg;
}
.Text_16_mobile {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: $main-bg;
}
.Big_Text_mobile {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $main-bg;
}
.h3_mobile {
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    text-transform: uppercase;
    color: $main-bg;
}
.h2_mobile {
    font-weight: 700;
    font-size: 26px;
    line-height: 115%;
    color: $main-bg;
}
.h1_mobile {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $main-bg;
}

.button {
    border-radius: 8px;
    padding: 14px 16px 14px 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    text-align: center;
    color: #121212;
    display: flex;
    align-items: center;
    gap: 10px;
    background: $main;
    transition: all .4s ease ;
    &:hover {
        background: $hover;
        gap: 16px;
    }
    & .button_svg {
        width: 32px;
        height: 32px;
    }
}
.button_mobile {
    border-radius: 8px;
    padding: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #121212;
    gap: 6px;
    background: $main;
    transition: all .4s ease ;
    &:hover {
        background: $hover;
        gap: 8px;
    }
    & .button_svg {
        width: 24px;
        height: 24px;
    }
}

.container {
    width: 1160px;
    margin: auto;
}

.header { 
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background: $bg-black;
    z-index: 15;
    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .header-top {
        padding: 20px 0;
    }
    &.active {
        & .header-bottom {
            max-height: 100vh;
            padding: 80px 0 162px 0;
            border-top: 2px solid #ffca00;
        }
    }
}
.header_left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_left_select {
    position: relative;
    max-width: 190px;
    z-index: 13;
    &.active {
        & .header_left_select_input_svg-arr {
            transform: rotate(0);
        }
        & .header_left_select_menu {
            max-height: 186px;
            overflow-y: scroll;
            padding: 8px 0px;
        }

    }
}
.header_left_select_input {
    border-radius: 5px;
    padding: 8px 9px 8px 3px;
    width: 190px;
    height: 46px;
    background: $white;
    gap: 8px;
    display: flex;
    align-items: center;
}
.header_left_select_input_svg {
    width: 30px;
    height: 30px;
}
.header_left_select_input_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: #303030; 
}
.header_left_select_input_svg-arr {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
    transition: all .4s ease;
}
.header_left_select_menu {
    position: absolute;
    border-radius: 8px;
    max-width: 159px;
    padding: 0px 0px;
    box-shadow: 0 3px 12px 0 rgba(127, 127, 127, 0.15);
    background: $white;
    top: calc(100% + 6px);
    transition: all .4s ease;
    max-height: 0px;
    overflow: hidden;
    &::-webkit-scrollbar {
        background: $white;
        border-radius: 8px;
        width: 8px;
    }
    &::-webkit-scrollbar-button {
        opacity: 0;
        display: none;
    }
    &::-webkit-scrollbar-track {
        background: $white;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: $main;
        border-radius: 8px;
    }
}
.header_left_select_menu_list {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.header_left_select_menu_list_item {
    padding: 8px 12px;
    width: 159px;
    height: 34px;
    background: $white;
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    text-align: left;
    color: #303030;
    transition: all .4s ease;
    cursor: pointer;
    &:hover {background: #f0f0f0;}
}
.header_left_stars {
    display: flex;
    align-items: center;
    gap: 5px;
}
.header_left_stars_item {
    width: 26px;
    height: 26px;
}
.header_logo {
    width: 135px;
    height: 60px;
}
.header_right {
    display: flex;
    align-items: center;
}
.header_seti {
    display: flex;
    align-items: center;
    gap: 12px;
}
.header_seti_item {
    width: 40px;
    height: 40px;
    position: relative;
    &:hover {
        & .header_seti_item_svg {
            & path {
                fill: $hover;
            }
        }

    }
}
.header_seti_item_svg {
    width: 40px;
    height: 40px;
    & path {
        transition: all .4s ease;
    }
}
.header_right_phone {
    font-weight: 700;
    font-size: 22px;
    line-height: 125%;
    color: $white;
    margin-left: 12px;
    margin-right: 30px;
}
.header_menu_button {
    width: 45px;
    height: 45px;
    cursor: pointer;
    &.close {
        & .close {
            opacity: 1;
        }
        & .open {
            opacity: 0;
        }
    }
    &.open {
        & .close {
            opacity: 0;
        }
        & .open {
            opacity: 1;
        }
    }
    &:hover {
        & .header_menu_button_svg {
            & path {
                fill: $hover;
            }
        }

    }
}
.header_menu_button_svg {
    position: absolute;
    transition: all .4s ease;
    width: 45px;
    height: 45px;
    & path {
        transition: all .4s ease;
    }
}

.header-bottom {
    background: #292929;
    max-height: 0px;
    overflow: hidden;
    transition: all .4s ease;
    & .container {
        flex-direction: column;
        align-items: flex-start;
    }
}
.header-bottom_left {
    width: fit-content;
    flex-shrink: 0;
    position: relative;
    margin-right: 66px;
    &::after {
        position: absolute;
        content: '';
        display: block;
        background: white;
        width: 1px;
        height: 260px;
        right: -25px;
        top: 0;
    }
}
.header-bottom_left_menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
}
.header-bottom_left_menu_item_href {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: $white;
    font-family: $second-family;
    transition: all .4s ease;
    cursor: pointer;
    &:hover {
        color: $main;
    }
}
.have-child {
    display: flex;
    flex-direction: column;
    &.active {
        &  .header-bottom_left_menu_item_title_svg {
            transform: rotate(0);
        }
    }
}
.header-bottom_left_menu_item_title {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.header-bottom_left_menu_item_title_svg {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    transition: all .4s ease;
}
.header-bottom_left_menu_item_pod-menu {
    display: grid;
    grid-template-columns: repeat(3, 373px);
    gap: 10px 20px;
    justify-content: space-between;
    padding: 60px 0 0 0;
}
.header-bottom_left_menu_item_pod-menu_item {
    border-radius: 8px;
    padding: 8px 16px;
    transition: all .4s ease;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: left;
    width: fit-content;
    color: $white;
    font-family: $third-family;
    &:hover {
        background: $main;
        color: #121212;
    }
}
.header-bottom-right {
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.header-bottom-right_item {
    font-weight: 500;
    font-size: 28px;
    line-height: 125%;
    color: $white;
    font-family: $font-family;
    transition: all .4s ease;
    &:hover {
        color: $main;
    }

}
.header-bottom_bottom {
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease;
    &.active {
        max-height: 100vh;

    }
}
.header-bottom_top {
    display: flex;
}

.front-block {
    margin-top: 180px;
    padding-bottom: 100px;
    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.front-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.front-block__heading {
    position: relative;
    width: fit-content;
    color: $text-black-500;
    margin-bottom: 10px;
    & span {
        color: $white;
    }
}
.front-block__heading__svg {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 90px;
    top: -5px;
}
.front-block__subheading {
    font-weight: 600;
    font-size: 38px;
    line-height: 110%;
    text-align: center;
    color: #121212;
}
.front-block-middle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 265px;
    margin-bottom: 60px;
}
.front-block-middle-button, .front-block-middle_heading, .front-block-middle_subHeading {
    position: relative;
    z-index: 2;
}
.front-block-middle_heading {
    font-weight: 600;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #121212;
    margin-bottom: 5px;
    margin-top: 30px;
}
.front-block-middle_subHeading {
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;
    text-align: center;
    color: $text-black-500;
    margin-bottom: 30px;
    & span {
        color: $seondarcy1;
        font-weight: 700;
    }
}
.front-block-middle-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 750px;
}
.front-block-middle_pluss1, .front-block-middle_pluss2, .front-block-middle_pluss3, .front-block-middle_pluss4, .front-block-middle_pluss5 {
    position: absolute;
}
.front-block-middle_pluss1 {
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
}
.front-block-middle_pluss2 {
    width: 34px;
    height: 34px;
    top: 82px;
    left: 111px;
}
.front-block-middle_pluss3 {
    width: 34px;
    height: 34px;
    right: 37px;
    top: 34px;
}
.front-block-middle_pluss4 {
    width: 34px;
    height: 34px;
    top: 72px;
    right: 234px;
}
.front-block-middle_pluss5 {
    width: 34px;
    height: 34px;
    top: 143px;
    right: 160px;
}
.front-block_plusses {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}
.front-block-pluss-item {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 290px;
}
.front-block-pluss-item_svg {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.front-block-pluss-item_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 145%;
    color: #121212;
}

.about-me {
    background: $bg-gray;
    padding: 100px 0;
    & .container {
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }
}
.about-me__video-block {
    width: 300px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    &::after {
        content: '';
        display: block;
        position: absolute;
        border: 4px solid $main;
        border-radius: 2px;
        width: 131px;
        height: 480px;
        top: -20px;
        left: -20px;
    }
    &:hover {
        & .about-me_video_go {
            & path {
                fill: $hover;
            }
        }
    }
}
.about-me_video_bg {
    position: relative;
    z-index: 1;
}
.about-me_video-texts {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;

}
.about-me_video_p {
    font-size: 14px;
    color: $white;
    &::after {
        content: '';
        display: block;
        margin-top: 15px;
        width: 100%;
        height: 2px;
        background: white;
    }
}
.about-me_video_avatar-container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 14px;   
}
.about0me_video_avatar_img {
    width: 60px;
    height: 60px;
}
.about0me_video_avatar_text {
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: $white;
    font-family: $second-family;

}
.about-me_video_go {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    z-index: 2;
    & path {
        transition: all .4s ease;
    }
}
.about-me_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-me_info_heading {
    color: $text-black-500;
    margin-bottom: 20px;
    
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: $bg-black;
        margin-top: 20px;
    }
}
.about-me_list {
    list-style: inside;
    padding-left: 10px;
}
.about-me_list_item {
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: $text-black-500;
    &::marker {
        margin-right: 10px;
    }
    & span {
        color: $seondarcy1;
    }
}
.about-me_pluss {
    display: flex;
    gap: 24px;
    align-items: center;
}
.about-me_pluss_item {
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px 20px 0 rgba(134, 134, 134, 0.1);
    background: $white;
    max-width: 240px;
}
.about-me_pluss_item__heading {
    font-weight: 700;
    font-size: 65px;
    line-height: 100%;
    color: $text-black-500;
    font-family: $second-family;
    & span {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        color: $text-black-500;
    }
}
.about-me_pluss_item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    text-align: center;
    color: $text-black-500;
}

.ya-keys {
    padding: 100px 0 50px;
    & .section-header {
        margin-bottom: 10px;
    }
}
.section-header {
    position: relative;
    & h2 {
        padding-left: 30px;
        & span {color: $seondarcy1;}

    }
    &::before {
        content: '';
        display: block;
        width: 100px;
        height: 5px;
        background: $main;
        margin-bottom: 10px;
    }
}

.ya-keys-item {
    display: flex;
    gap: 20px;
}
.ya-keys-item__left {
    box-shadow: 4px 4px 18px 0 rgba(134, 134, 134, 0.15);
    background: $white;
    border-radius: 8px;
    width: 840px;
    flex-shrink: 0;
    padding: 30px;
}
.ya-keys-item__left__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.keys-item__left__top-name-border {
    border: 2px solid $main;
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.keys-item__left__top-name-svg {
    width: 24px;
    height: 24px;
}
.keys-item__left__top-name-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    color: $bg-black;
}
.ya-keys-item__left__top-right {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.keys-item__left__top-ya {
    font-family: $second-family;
    font-weight: 600;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: $text-black-500;
    & span {
        color: $seondarcy1;
    }
}
.ya-keys-item__left-btm {
    display: flex;
    gap: 30px;
}
.keys-item-left__positons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 300px;
}
.keys-item-left__positons-item-heading {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.keys-item-left__positons-item-heading-svg {
    width: 30px;
    height: 30px;

}
.keys-item-left__positons-item-heading-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 115%;
    color: $text-black-500;
    font-family: $second-family;
}
.keys-item-left__positons-item-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.keys-item-left__positons-item-list__item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.keys-item-left__positons-item-list__item__svg {
    width: 14px;
    height: 14px;
}
.keys-item-left__positons-item-list__item__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    color: $text-black-500;
}
.keys-item-left__zaprosi {
    display: flex;
    flex-direction: column;
}
.keys-item__zaprosi-item {
    display: grid;
    grid-template-columns: 280px 51px 22px 44px;
    gap: 10px;
    align-items: center;
    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0;
    }
    &.heading {
        margin-bottom: 25px;
    }
    & .keys-item-zapros__text {
        &:first-child {
            font-weight: 400;
            font-size: 14px;
            line-height: 145%;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $text-black-500;
        }
        &:nth-child(2) {
            font-weight: 400;
            font-size: 14px;
            line-height: 145%;
            color: #909090;
            width: 100%;
            text-align: center;
        }
        &:nth-child(3) {
            font-weight: 700;
            font-size: 14px;
            line-height: 145%;
            color: $seondarcy1;
            width: 100%;
            text-align: center;
        }
        &:nth-child(4) {
            font-weight: 700;
            font-size: 14px;
            line-height: 145%;
            color: #1ec110;
            width: 100%;
            text-align: center;
        }
    }
}
.keys-item-zapros__hading {
    font-weight: 700;
    font-size: 16px;
    line-height: 145%;
    color: $text-black-500;
    font-family: $second-family;
    &:nth-child(2) {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    &:nth-child(3) {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    &:nth-child(4) {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

}
.ya-keys-item__right {
    width: 300px;
}
.ya-keys-video-rev {
    position: relative;
    margin-bottom: 14px;
}
.ya-keys-video-rev__bg {
    width: 100%;
    height: auto;
    border-radius: 8px;
    width: 300px;
    height: 420px;
}
.ya-keys-video-rev__svg {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ya-keys-item__right_btm {
    border: 3px solid $main;
    border-radius: 8px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ya-keys-item-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ya-keys-item__right_btm-text-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    color: $text-black-500;
    margin-bottom: 5px;
}
.ya-keys-item__right_btm-text-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    text-align: center;
    color: $text-black-300;
}
.keys-button {
    color: $white;
    background: $bg-black;
    width: fit-content;
    margin: auto;
    & path {
        transition: all .4s ease;
    }
    &:hover {
        color: $text-black-500;
        & path {
            fill: $text-black-500;
        }
    }
}

.ya-keys-swiper {
    padding:  50px;
    width: calc(100% + 100px);
    transform: translateX(-50px);
}

.ya-keyses-buttons {
    width: calc(100% + 160px);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
.ya-keys-prev {
    left: 0;
}
.ya-keys-button {
    position: absolute;
    cursor: pointer;
    transition: all .4s ease;
    &:hover {
        & .ya-keys-buttons-svg {
            & path {
                stroke: #F3002C;
            }
        }
    }
    &.swiper-button-disabled {
        opacity: .6;
        &:hover {
            & .ya-keys-buttons-svg {
                & path {
                    stroke: #808080;
                }
            }
        }

    }
}
.ya-keys-buttons-svg {
    width: 60px;
    height: 60px;
    & path, circle {
        transition: all .4s ease;
    }
}
.ya-keys-next {
    right: 0;
    & .ya-keys-buttons-svg {
        transform: rotate(180deg );
    }
} 

.ya-keys-swiper-container {
    position: relative;
}

.whatsapp {
    padding: 50px 0 100px;
    & .container {
        border-radius: 8px;
        background: $bg-black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
    }
}
.whatsapp-heading {
    margin-bottom: 10px;
    color: $white;
}
.whatsapp-text {
    margin-bottom: 30px;
    color: $white;
}
.whatsapp-href-svg {
    width: 40px;
    height: 40px;
}

.calk {
    background: $bg-gray;
    padding: 100px 0;
    & .container {
        display: flex;
    }
}
.calk-left {
    width: 757px;
    .section-header {
        margin-bottom: 20px;
    }
}
.calk-left-sub-heading {
    font-weight: 400;
    font-size: 24px;
    line-height: 145%;
    color: $text-black-500;
    max-width: 673px;
    padding-left: 30px;
    margin-bottom: 40px;
    & span {
        font-weight: 700;
        line-height: 150%;
        color: $seondarcy1;
    }
}
.calk-left-item-inp-text {
    border: 2px solid $main;
    border-radius: 8px;
    padding: 16px 24px;
    width: 400px;
    height: 58px;
    font-weight: 400;
    font-size: 18px;
    line-height: 155%;
    color: $text-black-500;
    background: $white;
    margin-left: 30px;
    &.text-area {
        height: 120px;
    }
}
.calk-left-next {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 80px;
    max-height: 100px;
    overflow: hidden;
    &.swiper-button-disabled {
        max-height: 0;
        padding: 0 16px 0 22px;
    }
}
.calk-left .calk-left-pag {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    width: fit-content;
    margin-left: 30px;
    &::after {
        content: '';
        display: block;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background: #a9a9a9;
        position: absolute;
    }
}
.calk-left-pag .calk-left-pag-item, .calk-left-pag .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 100%;
    background: #D9D9D9;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    opacity: 1;
    margin: 0 !important;
    &.active, &.swiper-pagination-bullet-active {
        background: $main;
    }
}
.calk-right {
    max-width: 3655px;
}
.calk-right-top {
    width: 100%;
    border: 4px solid $secondary2;
    border-radius: 8px;
    width: 365px;
    height: 83px;
    box-shadow: 4px 4px 20px 0 rgba(134, 134, 134, 0.1);
    background: $white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 15px;
    margin-bottom: 25px;
}
.calk-right-top-rub {
    border-radius: 8px;
    width: 43px;
    height: 43px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calk-right-top-rub-svg {
    width: 18px;
    height: 22px;
}
.calk-r-btm {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 15px;
}
.calk-r-btm-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 20px 0 rgba(134, 134, 134, 0.1);
    background: $white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 26px;
    line-height: 115%;
    color: #000;
    &:last-child {
        box-shadow: 4px 4px 20px 0 rgba(134, 134, 134, 0.1);
        background: $secondary2;
        color: $white;
    }
}
.calk-r-btm-item-svg {
    max-width: 24px;
}

.calk-left-item-checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    margin-left: 30px;
}
.calk-checkbox {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    &:checked + .calk-checkbox-visual {
        border: 2px solid $secondary2;
        background: #f9f5ff;
        & .calk-checkbox-visual-svg {
            opacity: 1;
        }
    }
}
.calk-checkbox-visual {
    cursor: pointer;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    background: #f3f3f5;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    & .calk-checkbox-visual-svg {
        width: 19px;
        opacity: 0;
        transition: all .4s ease;
    }
}

.calk-slider-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.calk-left-item {
    width: 100%;
}

.calk-item-heading {
    color: $text-black-300;
    margin-bottom: 20px;
    margin-left: 30px;
}

.calk-left-item-checkbox-wrapper {
    &.small {
        & .calk-checkbox {
            &:checked + .calk-checkbox-visual {
                border: 1px solid #3e3e3e;
                border-radius: 2px;
            }
        }
        & .calk-checkbox-visual {
            border: 1px solid #3e3e3e;
            border-radius: 2px;
            width: 20px;
            height: 20px;
        }
        & .calk-checkbox-visual-svg {
            width: 15px;
        }
    }
}

.calk-ty {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: $text-black-500;
    max-width: 444px;
    margin-left: 30px;

}

.price {
    padding: 100px;
    & .section-header {
        margin-bottom: 60px;
    }
}
.price-wrapper {
    display: flex;
    justify-content: space-between;
}
.price-item {
    width: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.price-item-info {
    padding: 30px 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-item-stars {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.price-item-stars-item {
    width: 50px;
    height: 50px;
}
.price-item-heading {
    margin-bottom: 30px;
}
.price-item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}
.price-item-list__item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.price-item-list__item-svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
.price-item-price {
    margin-bottom: 20px;
}
.price-item-button {
    width: 240px;
    align-items: center;
    justify-content: center;
}
.price-item__bg {
    width: 100%;
}

.video-rev {
    background: $bg-gray;
    padding: 100px;
    .section-header {
        margin-bottom: 60px;
    }
}
.video-rev-slider {
    width: 980px;
}
.video-rev-slide {
    & .about-me__video-block {
        width: 100%;
        &::after {
            display: none;
        }
    }
    & .about-me_video_bg {
        width: 100%;
    }
}

.video-rev-slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
}
.video-rev-slider-container {
    position: relative;
}
.video-rev-arr {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    &.swiper-button-disabled{
        opacity: .4;
        &:hover {
            & .video-arr-prev-svg {
                & path {
                    fill: #808080;
                }
            }
            
        }
    }
    &:hover {
        & .video-arr-prev-svg {
            & path {
                fill: $seondarcy1;
            }
        }

    }
    & .video-arr-prev-svg {
        transition: all .4s ease;
        width: 60px;
        height: 60px;
        & path {
            transition: all .4s ease;
        }
    }
}
.video-arr-prev {
    left: 0;
}
.video-arr-next {
    right: 0;
    & .video-arr-prev-svg {
        transform: rotate(180deg);
    }
}

.video-rev-slider-container {
    & .video-rev-paggination {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 15px;
        & .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background: #808080;
            opacity: .4;
            transition: all .4s ease;
            &.swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}

.ya-rev {
    background: $bg-gray;
    padding: 100px 0;
    .section-header {
        margin-bottom: 60px;
    }
}
.ya-rev-wrapper {
    display: flex;
    justify-content: space-between;
}
.ya-rev-left {
    width: 660px;
    height: 700px;
    flex-shrink: 0;
}
.ya-rev-r {
    background: $bg-black;
    border-radius: 8px;
    width: 480px;
    height: 700px;
    padding: 60px 35px;
}
.ya-rev-heading {
    font-weight: 600;
    font-size: 30px;
    line-height: 125%;
    text-align: center;
    color: $white;
    position: relative;
    font-family: $second-family;
    width: 100%;
    margin-bottom: 20px;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background: $main;
        margin-bottom: 40px;
    }
}
.ya-rev-subheading {
    margin-bottom: 40px;
    text-align: center;
    color: $white;
}
.ya-rev-form-input {
    border-radius: 8px;
    padding: 16px 24px;
    width: 395px;
    height: 58px;
    border-radius: 8px;
    padding: 16px 24px;
    width: 100%;
    height: 58px;
    background: $white;
    margin-top: 12px;
    &:first-child {
        margin-top: 0;
    }
}
.ya-rev-form-policy {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.ya-rev-policy-checkbox {
    position: absolute;
    opacity: 0;
    left: -999999px;
    &:checked + .ya-form-checkbox-visual {
        & .ya-form-checkbox-visual-svg {
            opacity: 1;
        }
    }
}
.ya-form-checkbox-visual {
    border: 1px solid #fafafa;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    & .ya-form-checkbox-visual-svg {
        transition: all .4s ease;
        max-width: 16px;
        max-height: 16px;
        opacity: 0;
    }
}
.ya-rev-form-checkbox-text {
    color: #fafafa;
}
.ya-rev-form-button {
    margin-top: 16px;
    width: 100%;
    justify-content: center;
}

.tabs {
    padding: 100px 0 50px;
    & .section-header {
        margin-bottom: 60px;
    }
}
.tabs-wrapper {
    display: flex;
    box-shadow: 0 4px 25px 0 rgba(121, 121, 121, 0.1);
    background: #f6f6f6;
    border-radius: 8px;
    overflow: hidden;
}
.tabs-l {
    width: 580px;
}
.tabs-l-item {
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    padding: 0px 24px;
    width: 580px;
    height: 80px;
    min-height: 80px;
    background: $white;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    & .tabs-l-invis {
        display: none;
    }
    &.active {
        background: $main;
        & .tabs-l-item-visual-svg {
            & path {
                fill: $white;
            }
        }
        & .tabs-l-item-visual-arr {
            opacity: 1;
        }
        &:hover {
            background: $main;
        }
    }
    &:hover {
        background: $bg-gray;
    }
    & .tabs-l-item-visual-arr {
        opacity: 0;
        position: absolute;
        left: 100%;
        width: 18px;
        height: 80px;
        transition: all .4s ease;
    }
}
.tabs-l-item-visual {
    display: flex;
    align-items: center;
    gap: 16px;
}
.tabs-l-item-visual-svg {
    width: 30px;
    height: 30px;
    & path {
        transition: all .4s ease;
    }
}
.tabs-l-item-visual-text {
    color: $text-black-500;
}
.tabs-r {
    border-radius: 0 8px 8px 0;
    padding: 25px;
    width: 580px;
    height: 560px;
    background: $white;
    & .tabs-l-inv-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: inside;
    }
    & .tabs-l-inv-list-item {
        font-weight: 400;
        font-size: 18px;
        line-height: 155%;
        color: $text-black-500;
    }
}

.why-imp {
    & .section-header {
        margin-bottom: 60px;
    }
}
.why-imp-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;

}
.why-imp-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    &:nth-child(odd) {
        flex-flow: row;
        justify-content: flex-end;
    }
    &:nth-child(even) {
        flex-flow: row-reverse;
        & .why-imp-img {
            width: 580px;
            height: 373px;
            position: relative;
        }
        & .why-imp-img-svg {transform: rotate(180deg);
        
        }
        & .why-imp-img__bg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
        
        }
    }
    &:nth-child(1) {
        & .why-img-item__svg {
            position: absolute;
            top: 0;
            left: -30px;
        }

    }
    &:nth-child(2) {
        & .why-img-item__svg {
            position: absolute;
            top: 0;
            left: -30px;
        }

    }
}
.why-img-item__svg {
    width: 60px;
    height: 60px;
    position: absolute;
}
.why-imp-text {
}
.Text_24 {
}
.why-imp__heading {
    max-width: 450px;
    & span {
        color: $seondarcy1;
        font-weight: 700;
    }
}
.why-img-list {
    flex-direction: column;
    display: flex;
    gap: 15px;
    list-style: none;
    margin-top: 20px;
}
.why-imp-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
}
.why-img-list-item-img {
    width: 30px;
    height: 30px;
}
.Text_18 {
}
.why-img-list-item-text {
}
.why-imp-img {
    width: 580px;
    height: 373px;
    position: relative;
}
.why-imp-img-svg {

}
.why-imp-img__bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    max-width: calc(100% - 90px);
    max-height: calc(100% - 64px);

}

.why-imp__text {
    margin-top: 20px;
    max-width: 450px;
}